body{
	margin: 0;
	padding: 0;
}
.container{
	height: 60px;

	background-color: #38b774;
	color: #fff;
}
.top{
	line-height: 60px;
		text-align: center;
}
.top-left{
	float: left;
}
.top-right{
	float: right;
}
