body{
	margin: 0;
	padding: 0;
}
.container{
	background-color: #38b774;
	color: #fff;
}
.top{
	line-height: 60px;
	text-align: center;
	font-size: 14px;
}
.top-left{
	float: left;
}
.top-right{
	float: right;
	margin-right: 10px;
}
